*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #6EA7C0;
}

p{
    color: #BABDBF;
    font-size: 10px;
}

#site_header{
    position: relative;
}

.bg_top{
    background-color: #009688;
    width: 100%;
    height: 20vh;
}

.bg_bottom{
    background-color: #D9DBD4;
    width: 100%;
    height: 80vh;
}

.main_container{
    position: absolute;
    display: flex;
    top: 30px;
    width: 90%;
    height: 93%;
    left: 5%;
    background-color: blue;
}

.avatar_top{
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}

.avatar{
    width: 60px;
    border-radius: 50%;
    margin: 0 20px;
}




/* LEFT SIDE */

.left_side{
    width: 33%;
    height: 100%;
    background-color: #FAFAFA;
}

.header_left{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #EAEAEA;
}

.username{
    display: flex;
    align-items: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #B1B1B1;
    padding: 0 20px;
    letter-spacing: 15px;
    font-size: 18px;
}

.check_notifiche{
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.bell_wrap{
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 12px;
}

.bell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #8EDAFC;
}

.search_chat{
    width: 98%;
    height: 25px;
    margin: auto;
    background-color: white;
    border: 1px solid #F6F6F6 ;
    margin: 5px 0;
}

.search{
    width: 70%;
    border: none;
}

.search_icon{
    padding: 0 30px;
    color: #B1B1B1 ;
    font-size: 12px;
}

.user_tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 80px;
    background-color: white;
    border: 1px solid #F6F6F6 ;
}

.left_user_tab{
    display: flex;
}

.right_user_tab{
    display: flex;
    align-self: start;
    padding-top: 10px;  
}

.date{
    font-size: small;
}




/* RIGHT SIDE */

.right_side{
    width: 67%;
    height: 100%;
    background-color: #FAFAFA;
}

.header_right{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #EAEAEA;
}

.username{
    display: flex;
    align-items: center;
}

.info_right{
    padding-left: 10px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #B1B1B1;
    padding: 0 20px;
    letter-spacing: 15px;
    font-size: 18px;
}
